body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* 
table td {
  border: 1px solid black;
  width: 600px;
  justify-content: center;
} */
td {
  height: 10px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 300px;
}

input[type="email"] {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 300px;
}
input[type="date"] {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 300px;
}
input[type="password"] {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 300px;
}
textarea {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: auto;
}
input:invalid ~ span {
  display: block;
}

span {
  color: red;
  display: none;
}
